*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    

}
html{
    scroll-behavior: smooth;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: white;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #eee;
    font-weight: bold;
}
nav a:hover{
    color:#f9ca24;
    transition: 0.8;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    
}
nav ul li a:hover {
    color:#f9ca24;
    transition: 0.8;
}
.detail{
    margin-left: 8%;
    margin-top: 13%;
    margin-bottom: 10%;
}
.detail h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;

}
span{
    color: orange;
}
.detail p{
    color: gray;
    line-height: 22px;
}
.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

/* AARON */

.images{
    width: 45%;
    height: 70%;
    position: absolute;
    top: 85px;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translatex(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .person{
    left: 45%;
}


/* LOIS MEEK */

.images2{
    width: 45%;
    height: 73%;
    position: absolute;
    top: 83px;
    right: 100px;
}
.images2 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translatex(-50%);
    transition: bottom 1s, left 1s;

}
.images2:hover .shape{
    bottom: 40px;
}
.images2:hover .person{
    left: 45%;
}

/* ANDREW */
.images3{
    width: 45%;
    height: 73%;
    position: absolute;
    top: 120px;
    right: 100px;
}
.images3 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translatex(-50%);
    transition: bottom 1s, left 1s;

}
.images3:hover .shape{
    bottom: 40px;
}
.images3:hover .person{
    left: 45%;
}

/* Keisha */
.images4{
    width: 45%;
    height: 73%;
    position: absolute;
    top: 120px;
    right: 100px;
}
.images4 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translatex(-50%);
    transition: bottom 1s, left 1s;

}
.images4:hover .shape{
    bottom: 40px;
}
.images4:hover .person{
    left: 45%;  
}

/* JHUNREY */

.images5{
    width: 45%;
    height: 73%;
    position: absolute;
    top: 82px;
    right: 100px;
}
.images5 img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translatex(-50%);
    transition: bottom 1s, left 1s;

}
.images5:hover .shape{
    bottom: 40px;
}
.images5:hover .person{
    left: 45%;
}




.image:hover .model{
    bottom: 40px;
    transition: bottom 1s;
}
.image:hover .model1{
    bottom: 40px;
    transition: bottom 1s;
}
.image:hover .model2{
    bottom: 40px;
    transition: bottom 1s;
}
.image:hover .model3{
    bottom: 40px;
    transition: bottom 1s;
}
.image:hover .model4{
    bottom: 40px;
    transition: bottom 1s;
}
.model{
    height: 500px;
    position: absolute;
    bottom: 0px;
    left: 68%;
    transform: translate(-68%);
}
.model1{
    height: 500px;
    position: absolute;
    bottom: 0px;
    left: 5%;
    transform: translate(-5%);
}
.model2{
    height: 500px;
    position: absolute;
    bottom: 0px;
    left: 25%;
    transform: translate(-25%);
}
.model3{
    height: 500px;
    position: absolute;
    bottom: 0px;
    left: 45%;
    transform: translate(-45%);
}
.model4{
    height: 500px;
    position: absolute;
    bottom: 0px;
    left: 98%;
    transform: translate(-100%);
}
section{
    width: 100%;
    height: 95vh;
    background-color: #000;
}
.services{
    height: 600px;
    background-color: #222;
    padding: 1% 10% 100px 10%;
}
.services-text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #eee;
    font-size: 60px;
    line-height: 75px;
    text-decoration: none;

}
.services-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #eee;
    font-size: 23px;
    line-height: 40px;
    text-decoration: none;
}
.services-text p:nth-child(3){
    font-family: calibri;
    color: #eee;
    text-decoration: none;
    font-size: 18px;
}
.services-text{
    width: 500px;
    margin: 50px 0px;
    text-decoration: none;
}
.box-1,.box-2,.box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-container{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.box-1{
    background-color: #333;
}
.box-2{
    background-color: #333;
}
.box-3{
    background-color: #333;
}
.box-1 span,
.box-2 span,
.box-3 span{
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: calibri;
    font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color: #FFFFFF;
    font-family: calibri;
    font-size: 23px;
    line-height: 30px;
    text-decoration: none;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family: calibri;
    text-align: center;
    width: 230px;
    margin:0px 0px 20px 0px;
    color: #8f8f8f;
    text-decoration: none;
}
.box-1 a,
.box-2 a,
.box-3 a{
    width: 100px;
    height:30px;
    background-color:#FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    font-family: calibri;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
footer{
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #444;
    
}
footer p{
    font-family: calibri;
    
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #eee;
    line-height: 100px;
}
footer p:nth-child(2){
    font-size: 16px;
    color: #eee;
    width: 600px;
    text-align: center;
}
.social-icons a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin: 20px 10px;
    border-radius: 50%;
    text-decoration: none;
}
.social-icons{
    display: flex;
}
.copyright{
    color: #eee;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}
.social-icons i,
.a-social-b i{
    color: #000000;
}
.social-icons a:hover,
.a-social-b a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;
}
.a-social-b{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateX(-50%);
}
.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #FFFFFF;
    border:1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    text-decoration: none;
}
.a-social-b{
    background-color: #2b2b2b;
    font-size: 20px;
}
#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

