body{
	background-color: peachpuff;
	color:#555 ;
	font-family: times new roman;
	font-size: small;
	line-height: 1cm;
	margin: 0;
	background-image: url('../image/tree.jpg');
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	color: white;
	text-shadow:white;
	
}

#main-header{
	background-image: url('../image/bts.jpg');
	color: #seagreen;
}

#navbar{
	background-color: powderblue;
	color: #fff;
}

#navbar ul{
	list-style: none;
	padding: 0;

}


p {

font-size: 140%;
line-height: 1.6;

}

h1 {

font-size: ;

}

#navbar li{ 
display: inline;
 }

 #navbar a{
	color: royalblue;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px ;
 

 }
#showcase{
	background-image: url( '../image/bts.jpg');
	background-position: center left;
	height: 400px;
	margin-bottom: 30px;
	text-align: center;
	-webkit-text-stroke: 0.6px black;


}

#showcase h1{
	color: lightpink;
	font-size: 70px;
	line-height: 3cm;
	
}

#main {
	float: left;
	width: 70%;
	padding:  0 30px;
	box-sizing: border-box;
	


}

#sidebar {
	float:right ;
	width: 30%;
	background color: royalblue;
	color: white;
	padding: 25px;
	box-sizing: border-box;
	border: 15px solid skyblue;

}

#main-footer {
	background: #333;
	color: #royalblue;
	text-align: left;
	padding: 20px;
	margin-top: 100px;
	font-size: 10px;


}